<header>
    <h1> Naval Battle</h1>
</header>
<nav>
    <a href="#">Game</a>
    <a href="#">Créditos</a>
</nav>
<section>
    <h1>Créditos</h1>
    <pre>
        Desenvolvedor:
        
        Lucas Gabriel Ferreira Alves

        Universidade do Vale do Rio dos Sinos

        São Leopoldo, RS

        Desenvolvido para a cadeira de Programação Multiplataforma.

        Agradecimento especial:

        Luiz Felipe Bertoldi de Oliveira

        Universidade do Vale do Rio dos Sinos

        São Leopoldo, RS
    </pre>
</section>
<footer>
</footer>