<header>
	<h1> Naval Battle 
		<span *ngIf="!gameControl.isStarted"> - Aguardando o jogo começar...</span>
		<span *ngIf="gameControl.isStarted && !gameControl.isFinished && gameControl.currentPlayer == position"> - SUA VEZ!</span>
		<span *ngIf="gameControl.isFinished"> - JOGO FINALIZADO</span>
		<span *ngIf="gameControl.isFinished && gameControl.hitsCount[position] == gameControl.totalHits"> - você perdeu!</span>
		<span *ngIf="gameControl.isFinished && gameControl.hitsCount[1 - position] == gameControl.totalHits"> - VOCÊ VENCEU!</span>
	</h1>
</header>
<nav>
	<a href="home">Game</a>
	<a href="creditos">Créditos</a>
</nav>
<form id="forms" name="form_game" action>
	<div id="Player1">
		<div id="headerPlayer1" class="headerPlayer">
			<h3 id="namePlayer1">Player1:</h3>
			<h3 id="scorePlayer1">Score: {{gameControl.hitsCount[1]}}</h3>
		</div>
		<div id="bodyPlayer1" class="bodyplayer">
			<table align="center">
				<tr *ngFor="let row of this.gameControl.ships[0]; let rowIndex = index">
					<td *ngFor="let content of row; let colIndex = index">
						<app-cell [playerId]="position" [tableId]="0" [row]="rowIndex" [col]="colIndex"></app-cell>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div id="Player2">
		<div id="headerPlayer2" class="headerPlayer">
			<h3 id="namePlayer2">Player2:</h3>
			<h3 id="scorePlayer2">Score: {{gameControl.hitsCount[0]}}</h3>
		</div>	
		<div id="bodyPlayer2" class="bodyplayer">
			<table align="center">
				<tr *ngFor="let row of this.gameControl.ships[1]; let rowIndex = index">
					<td *ngFor="let content of row; let colIndex = index">
						<app-cell [playerId]="position" [tableId]="1" [row]="rowIndex" [col]="colIndex"></app-cell>
					</td>
				</tr>
			</table>
		</div>
	</div>
</form>
<footer>
</footer>