<header>
	<h1> Naval Battle - Posição {{ position }}</h1>
</header>
<nav>
	<a href="home">Game</a>
	<a href="creditos">Créditos</a>
</nav>
<form id="forms" name="form_game" action>
	<div id="Player1">
		<div id="headerPlayer1" class="headerPlayer">
			<h3 id="namePlayer1">Player1:</h3>
			<h3 id="scorePlayer1">Score: 0</h3>
		</div>
		<div id="bodyPlayer1" class="bodyplayer">
			<table align="center" id="tablePlayer1">
				<tr id="line0Player1">
					<td></td>
					<td></td>
					<td id="column02Player1"></td>
					<td id="column03Player1"></td>
					<td id="column04Player1"></td>
					<td id="column05Player1"><img src="/assets/images/Contra-Torpedeiros_H_1.bmp" /></td>
					<td id="column06Player1"><img src="/assets/images/Contra-Torpedeiros_H_2.bmp" /></td>
					<td id="column07Player1"></td>
					<td id="column08Player1"></td>
					<td id="column09Player1"></td>
				</tr>
				<tr id="line1Player1">
					<td id="column10Player1"></td>
					<td id="column11Player1"><img src="/assets/images/Submarino_H_V.bmp" /></td>
					<td id="column12Player1"></td>
					<td id="column13Player1"></td>
					<td id="column14Player1"></td>
					<td id="column15Player1"></td>
					<td id="column16Player1"></td>
					<td id="column17Player1"></td>
					<td id="column18Player1"></td>
					<td id="column19Player1"></td>
				</tr>
				<tr id="line2Player1">
					<td id="column20Player1"></td>
					<td id="column21Player1"></td>
					<td id="column22Player1"></td>
					<td id="column23Player1"><img src="/assets/images/Torpedeiros_H_1.bmp" /></td>
					<td id="column24Player1"><img src="/assets/images/Torpedeiros_H_2.bmp" /></td>
					<td id="column25Player1"><img src="/assets/images/Torpedeiros_H_3.bmp" /></td>
					<td id="column26Player1"></td>
					<td id="column27Player1"></td>
					<td id="column28Player1"></td>
					<td id="column29Player1"></td>
				</tr>
				<tr id="line3Player1">
					<td id="column30Player1"></td>
					<td id="column31Player1"></td>
					<td id="column32Player1"></td>
					<td id="column33Player1"></td>
					<td id="column34Player1"></td>
					<td id="column35Player1"></td>
					<td id="column36Player1"></td>
					<td id="column37Player1"></td>
					<td id="column38Player1"></td>
					<td id="column39Player1"></td>
				</tr>
				<tr id="line4Player1">
					<td id="column40Player1"></td>
					<td id="column41Player1"></td>
					<td id="column42Player1"><img src="/assets/images/Contra-Torpedeiros_H_1.bmp"></td>
					<td id="column43Player1"><img src="/assets/images/Contra-Torpedeiros_H_2.bmp"></td>
					<td id="column44Player1"></td>
					<td id="column45Player1"></td>
					<td id="column46Player1"></td>
					<td id="column47Player1"></td>
					<td id="column48Player1"></td>
					<td id="column49Player1"></td>
				</tr>
				<tr id="line5Player1">
					<td id="column50Player1"></td>
					<td id="column51Player1"></td>
					<td id="column52Player1"></td>
					<td id="column53Player1"></td>
					<td id="column54Player1"></td>
					<td id="column55Player1"></td>
					<td id="column56Player1"></td>
					<td id="column57Player1"></td>
					<td id="column58Player1"></td>
					<td id="column59Player1"></td>
				</tr>
				<tr id="line6Player1">
					<td id="column60Player1"></td>
					<td id="column61Player1"></td>
					<td id="column62Player1"><img src="/assets/images/Porta-Aviões_H_1.bmp"></td>
					<td id="column63Player1"><img src="/assets/images/Porta-Aviões_H_2.bmp"></td>
					<td id="column64Player1"><img src="/assets/images/Porta-Aviões_H_3.bmp"></td>
					<td id="column65Player1"><img src="/assets/images/Porta-Aviões_H_4.bmp"></td>
					<td id="column66Player1"><img src="/assets/images/Porta-Aviões_H_5.bmp"></td>
					<td id="column67Player1"></td>
					<td id="column68Player1"></td>
					<td id="column69Player1"></td>
				</tr>
				<tr id="line7Player1">
					<td id="column70Player1"></td>
					<td id="column71Player1"></td>
					<td id="column72Player1"></td>
					<td id="column73Player1"></td>
					<td id="column74Player1"></td>
					<td id="column75Player1"></td>
					<td id="column76Player1"></td>
					<td id="column77Player1"><img src="/assets/images/Submarino_H_V.bmp"></td>
					<td id="column78Player1"></td>
					<td id="column79Player1"></td>
				</tr>
				<tr id="line8Player1">
					<td id="column80Player1"></td>
					<td id="column81Player1"><img src="/assets/images/Fragata_H_1.bmp"></td>
					<td id="column82Player1"><img src="/assets/images/Fragata_H_2.bmp"></td>
					<td id="column83Player1"><img src="/assets/images/Fragata_H_3.bmp"></td>
					<td id="column84Player1"><img src="/assets/images/Fragata_H_4.bmp"></td>
					<td id="column85Player1"></td>
					<td id="column86Player1"></td>
					<td id="column87Player1"></td>
					<td id="column88Player1"></td>
					<td id="column89Player1"></td>
				</tr>
				<tr id="line9Player1">
					<td id="column90Player1"></td>
					<td id="column91Player1"></td>
					<td id="column92Player1"></td>
					<td id="column93Player1"></td>
					<td id="column94Player1"></td>
					<td id="column95Player1"></td>
					<td id="column96Player1"></td>
					<td id="column97Player1"></td>
					<td id="column98Player1"></td>
					<td id="column99Player1"></td>
				</tr>
			</table>
		</div>
	</div>
	<div id="Player2">
	<div id="headerPlayer2" class="headerPlayer">
		<h3 id="namePlayer2">Player2:</h3>
		<h3 id="scorePlayer2">Score:</h3>
	</div>
	<div id="bodyPlayer2" class="bodyplayer">
		<table align="center" id="tablePlayer2">
			<tr id="line0Player2">
				<td id="column00Player2"></td>
				<td id="column01Player2"></td>
				<td id="column02Player2"></td>
				<td id="column03Player2"></td>
				<td id="column04Player2"></td>
				<td id="column05Player2"><img src="/assets/images/Contra-Torpedeiros_H_1.bmp" /></td>
				<td id="column06Player2"><img src="/assets/images/Contra-Torpedeiros_H_2.bmp" /> </td>
				<td id="column07Player2"></td>
				<td id="column08Player2"></td>
				<td id="column09Player2"></td>
			</tr>
			<tr id="line1Player2">
				<td id="column10Player2"></td>
				<td id="column11Player2"><img src="/assets/images/Submarino_H_V.bmp" /></td>
				<td id="column12Player2"></td>
				<td id="column13Player2"></td>
				<td id="column14Player2"></td>
				<td id="column15Player2"></td>
				<td id="column16Player2"></td>
				<td id="column17Player2"></td>
				<td id="column18Player2"></td>
				<td id="column19Player2"></td>
			</tr>
			<tr id="line2Player2">
				<td id="column20Player2"></td>
				<td id="column21Player2"></td>
				<td id="column22Player2"></td>
				<td id="column23Player2"><img src="/assets/images/Torpedeiros_H_1.bmp" /></td>
				<td id="column24Player2"><img src="/assets/images/Torpedeiros_H_2.bmp" /></td>
				<td id="column25Player2"><img src="/assets/images/Torpedeiros_H_3.bmp" /></td>
				<td id="column26Player2"></td>
				<td id="column27Player2"></td>
				<td id="column28Player2"></td>
				<td id="column29Player2"></td>
			</tr>
			<tr id="line3Player2">
				<td id="column30Player2"></td>
				<td id="column31Player2"></td>
				<td id="column32Player2"></td>
				<td id="column33Player2"></td>
				<td id="column34Player2"></td>
				<td id="column35Player2"></td>
				<td id="column36Player2"></td>
				<td id="column37Player2"></td>
				<td id="column38Player2"></td>
				<td id="column39Player2"></td>
			</tr>
			<tr id="line4Player2">
				<td id="column40Player2"></td>
				<td id="column41Player2"></td>
				<td id="column42Player2"><img src="/assets/images/Contra-Torpedeiros_H_1.bmp"></td>
				<td id="column43Player2"><img src="/assets/images/Contra-Torpedeiros_H_2.bmp"></td>
				<td id="column44Player2"></td>
				<td id="column45Player2"></td>
				<td id="column46Player2"></td>
				<td id="column47Player2"></td>
				<td id="column48Player2"></td>
				<td id="column49Player2"></td>
			</tr>
			<tr id="line5Player2">
				<td id="column50Player2"></td>
				<td id="column51Player2"></td>
				<td id="column52Player2"></td>
				<td id="column53Player2"></td>
				<td id="column54Player2"></td>
				<td id="column55Player2"></td>
				<td id="column56Player2"></td>
				<td id="column57Player2"></td>
				<td id="column58Player2"></td>
				<td id="column59Player2"></td>
			</tr>
			<tr id="line6Player2">
				<td id="column60Player2"></td>
				<td id="column61Player2"></td>
				<td id="column62Player2"><img src="/assets/images/Porta-Aviões_H_1.bmp"></td>
				<td id="column63Player2"><img src="/assets/images/Porta-Aviões_H_2.bmp"></td>
				<td id="column64Player2"><img src="/assets/images/Porta-Aviões_H_3.bmp"></td>
				<td id="column65Player2"><img src="/assets/images/Porta-Aviões_H_4.bmp"></td>
				<td id="column66Player2"><img src="/assets/images/Porta-Aviões_H_5.bmp"></td>
				<td id="column67Player2"></td>
				<td id="column68Player2"></td>
				<td id="column69Player2"></td>
			</tr>
			<tr id="line7Player2">
				<td id="column70Player2"></td>
				<td id="column71Player2"></td>
				<td id="column72Player2"></td>
				<td id="column73Player2"></td>
				<td id="column74Player2"></td>
				<td id="column75Player2"></td>
				<td id="column76Player2"></td>
				<td id="column77Player2"><img src="/assets/images/Submarino_H_V.bmp"></td>
				<td id="column78Player2"></td>
				<td id="column79Player2"></td>
			</tr>
			<tr id="line8Player2">
				<td id="column80Player2"></td>
				<td id="column81Player2"><img src="/assets/images/Fragata_H_1.bmp"></td>
				<td id="column82Player2"><img src="/assets/images/Fragata_H_2.bmp"></td>
				<td id="column83Player2"><img src="/assets/images/Fragata_H_3.bmp"></td>
				<td id="column84Player2"><img src="/assets/images/Fragata_H_4.bmp"></td>
				<td id="column85Player2"></td>
				<td id="column86Player2"></td>
				<td id="column87Player2"></td>
				<td id="column88Player2"></td>
				<td id="column89Player2"></td>
			</tr>
			<tr id="line9Player2">
				<td id="column90Player2"></td>
				<td id="column91Player2"></td>
				<td id="column92Player2"></td>
				<td id="column93Player2"></td>
				<td id="column94Player2"></td>
				<td id="column95Player2"></td>
				<td id="column96Player2"></td>
				<td id="column97Player2"></td>
				<td id="column98Player2"></td>
				<td id="column99Player2"></td>
			</tr>
		</table>
	</div>
	</div>
</form>
<footer>
</footer>